<div class="container d-flex align-items-center">
	<div class="row justify-content-center w-100">
		<div class="col-md-6 col-lg-5 mx-auto">

		<h2 class="text-center mb-4 mt-5">Search City in California</h2>
		
		<form #myForm="ngForm" class="w-100" (ngSubmit)="onSubmit(myForm)">
		
			<!-- Email -->
				<div class="mb-3">
					<label for="city" class="form-label">City</label>
					<input placeholder="Enter city" class="form-control" type="text" #cityCtrl="ngModel" name="city" [(ngModel)]="city" required />
					<span class="text-danger"
					*ngIf="(cityCtrl.touched || myForm.submitted) && cityCtrl.errors?.['required']">
					City is requireds
				  </span>
				</div>

			<div class="d-grid">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</form>
		</div>
	</div>
</div>
		<div *ngIf="cityWeather" class="row justify-content-center w-100 mt-4">
		<div class="col-md-6 col-lg-5 mx-auto text-center">
			<p class="text-muted">City: {{ cityWeather.name }}</p>
			<p class="text-muted">Farenheight: {{ cityWeather.farenheight }}</p>
			<p class="text-muted">Is Raining: {{ cityWeather.isRaining }}</p>
		</div>
		</div>